# Python junk
__pycache__/
*.pyc

# macOS junk
.DS_Store

# EMBER2024: ignore env / build artifacts, but keep source
EMBER2024/.venv/
EMBER2024/**/__pycache__/
EMBER2024/build/
EMBER2024/dist/
EMBER2024/*.egg-info/

# Data artifacts from the example
General/Example/data/

# ignore full EMBER repo
EMBER2024/

# Python virtualenv
.venv/
venv/

