# Python virtualenv
.venv/
venv/

# Python junk
__pycache__/
*.pyc

# Ignore the EMBER2024 package and local environment
EMBER2024/
EMBER2024/.venv/
EMBER2024/__pycache__/
*.pyc

# macOS metadata
.DS_Store